<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1"
    />
    <title>title</title>
</head>
<body style="width: 60%; margin: 0 auto; font-size: 1.2em; font-family:'Courier New', Courier, monospace">
    <h1>Using Unicode characters in HTML</h1>

    <p style>
        Enter the unicode character like this <br/>
        <code>&#x&lt;UNICODE&gt;;</code> <br/>
        Remember to end it with the <i>;</i>
    </p>
    <p>Examples: </p>
    <ul style="list-style-type: none;">
        <li>&#x1F5F4; &nbsp;&nbsp; <code>&amp;#x1F5F4;</code> &nbsp;&nbsp;&nbsp;&nbsp; Ballot script X </li>
        <li>&#x1F5F5; &nbsp;&nbsp; <code>&amp;#x1F5F5;</code> &nbsp;&nbsp;&nbsp;&nbsp; Ballot box with script X </li>
        <li>&#x1F5F8; &nbsp;&nbsp; <code>&amp;#x1F5F8;</code> &nbsp;&nbsp;&nbsp;&nbsp; Light check mark </li>
        <li>&#x1F5F9; &nbsp;&nbsp; <code>&amp;#x1F5F9;</code> &nbsp;&nbsp;&nbsp;&nbsp; Ballot box with bold check </li>
        <li>&#x1F31F; &nbsp;&nbsp; <code>&amp;#x1F31F;</code> &nbsp;&nbsp;&nbsp;&nbsp; Glowing star </li>
        <li>&#x1F320; &nbsp;&nbsp; <code>&amp;#x1F320;</code> &nbsp;&nbsp;&nbsp;&nbsp; Shooting star </li>
        <li>&#x1F321; &nbsp;&nbsp; <code>&amp;#x1F321;</code> &nbsp;&nbsp;&nbsp;&nbsp; Thermometer </li>
        <li>&#x1F323; &nbsp;&nbsp; <code>&amp;#x1F323;</code> &nbsp;&nbsp;&nbsp;&nbsp; Sunny </li>
        <li>&#x1F324; &nbsp;&nbsp; <code>&amp;#x1F324;</code> &nbsp;&nbsp;&nbsp;&nbsp; White sun with small cloud </li>
        <li>&#x1F325; &nbsp;&nbsp; <code>&amp;#x1F325;</code> &nbsp;&nbsp;&nbsp;&nbsp; White sun behind cloud </li>
        <li>&#x1F327; &nbsp;&nbsp; <code>&amp;#x1F327;</code> &nbsp;&nbsp;&nbsp;&nbsp; Cloud with rain </li>
    </ul>
</body>
</html>